<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["Title"]">
    <title>@ViewData["Title"]</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-route="index">Home</a>
        <a asp-route="list-posts">Posts</a>
        <a asp-route="list-images">Bilder</a>
        <a asp-route="list-tags">Tags</a>
    </nav>
    <main>
        @RenderBody()
    </main>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>