@{
    ViewData["Title"] = "Neues Bild";
}

<div class="container">
    <form method="post" asp-action="Create" asp-controller="Images" enctype="multipart/form-data">
        <div class="form-group">
            <label>Bild</label>
            <input type="file" name="File" required />
        </div>        
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a asp-route="list-images" role="button" class="btn btn-default">Abbrechen</a>
    </form>
</div>