@model MarkdownAspNetCoreBlog.ViewModels.Images.DeleteImageViewModel

@{
    ViewData["Title"] = "Bild löschen: " + Model.Image.Title;
}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form method="post" asp-action="DeleteConfirmed" asp-controller="Images">
                <p>Bild '@Model.Image.Title' wirklich löschen?</p>
                <button type="submit" class="btn btn-danger btn-lg">Löschen</button>
                <a asp-route="list-images" role="button" class="btn btn-default btn-lg">Abbrechen</a>
            </form>
        </div>
    </div>
</div>