@model MarkdownAspNetCoreBlog.ViewModels.Images.ListImagesViewModel

@{
    ViewData["Title"] = "Bilder verwalten";
}

<div class="container">
    <div class="row">
        @{int i = 1;}
        @foreach (var image in Model.Images) {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <a href="~/@image.FolderName/@image.Name">
                        <img src="~/@image.FolderName/@image.Name" alt="@image.Name" asp-append-version="true">
                    </a>
                    @image.FolderName/@image.Name | <a asp-route="delete-image" asp-route-id="@image.Id">Löschen</a>
                </div>
            </div>
            i++;
        }
    </div>
    <a class="btn btn-primary" asp-route="create-image" role="button">Neues Bild</a>
</div>