@model IEnumerable<MarkdownAspNetCoreBlog.Models.Image>

@{
    ViewData["Title"] = "Bilder verwalten";
}

<div class="row">
    @{int i = 1;}
    @foreach (var image in Model) {
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <a href="~/img/@image.FileName">
                    <img src="~/img/@image.FileName" alt="@image.DisplayName" asp-append-version="true">
                </a>
                <div class="caption">
                    <h3>@image.DisplayName</h3>
                </div>
            </div>           
        </div>
        i++;
    }
</div>

<a class="btn btn-primary" asp-route="create-image" role="button">Neues Bild</a>