@model IEnumerable<MarkdownAspNetCoreBlog.Models.Tag>

@{
    ViewData["Title"] = "Tags verwalten";
}

<div class="container">
    <div class="row">
        <ul>
            @{int i = 1;}
            @foreach (var tag in Model) {
                <li>@tag.Title | <a asp-route="delete-tag" asp-route-id="@tag.Id">Löschen</a></li>
                i++;
            }
        </ul>
    </div>
    <a class="btn btn-primary" asp-route="create-tag" role="button">Neuer Tag</a>
</div>