@model MarkdownAspNetCoreBlog.ViewModels.Tags.UpdateTagViewModel

@{
    ViewData["Title"] = "Tag editieren: " + Model.Tag.Title;
}

<div class="container">
    <form method="post" asp-action="Update" asp-controller="Tags">
        <div class="form-group">
            <label>Titel</label>
            <input type="text" class="form-control" asp-for="@Model.Tag.Title" required />
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a asp-route="list-tags" role="button" class="btn btn-default">Abbrechen</a>
    </form>
</div>