@model MarkdownAspNetCoreBlog.ViewModels.Posts.DeletePostViewModel

@{
    ViewData["Title"] = "Post löschen: " + Model.Post.Title;
}

@Html.Partial("HeaderAdmin")

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1>@ViewData["Title"]</h1>
            <form method="post" asp-action="DeleteConfirmed" asp-controller="Posts">
                <p>Post '@Model.Post.Title' wirklich löschen?</p>
                <button type="submit" class="btn btn-danger btn-lg">Löschen</button>
                <a asp-route="list-posts" role="button" class="btn btn-default btn-lg">Abbrechen</a>
            </form>
        </div>
    </div>
</div>