@model MarkdownAspNetCoreBlog.Models.Post

@{
    ViewData["Title"] = Model.Title;
    ViewData["indexNavCss"] = "blog-nav-item";
    ViewData["listNavCss"] = "blog-nav-item";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">@Model.Title</h2>
                <p class="blog-post-meta">@Model.CreatedAt.ToString("d MMMM yyyy") von <a href="#">maQus</a></p>
                <md>@Model.Content</md>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        </div>
    </div>
</div>