@model MarkdownAspNetCoreBlog.ViewModels.Posts.PostViewModel

@{
    ViewData["Title"] = Model.Post.Title;
}

<h2>@Model.Post.Title</h2>
<p>@Model.Post.CreatedAt.ToString("d. MMMM yyyy") von <a href="#">maQus</a></p>
<md>@Model.Post.Content</md>