@model MarkdownAspNetCoreBlog.Models.Post

@{
    ViewData["Title"] = "Post lesen: " + Model.Title;
    ViewData["indexNavCss"] = "blog-nav-item";
    ViewData["listNavCss"] = "blog-nav-item";
}

<a asp-route="list">Zurück</a>

<article>
    <header>
        <h1>@Model.Title</h1>
    </header>
    <md>@Model.Content</md>
    <footer>
        @Model.CreatedAt.ToString()
    </footer>
</article>