@model MarkdownAspNetCoreBlog.Models.Post

@{
    ViewData["Title"] = "Post editieren: " + Model.Title;
}

<div class="container">
    <form method="post" asp-action="Update">
        <div class="form-group">
            <label>Titel</label>
            <input type="text" class="form-control" asp-for="Title" required />
        </div>
        <div class="form-group">
            <label>Inhalt</label>
            <textarea class="form-control" asp-for="Content" rows="10"></textarea>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" asp-for="IsPublished"> Veröffentlicht
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a asp-route="list-posts" role="button" class="btn btn-default">Abbrechen</a>
    </form>
</div>