@model MarkdownAspNetCoreBlog.Models.Post

@{
    ViewData["Title"] = "Post editieren: " + Model.Title;
    ViewData["indexNavCss"] = "blog-nav-item";
    ViewData["listNavCss"] = "blog-nav-item";
}

<form asp-action="Update">

    <label asp-for="Title"></label><br />
    <input type="text" asp-for="Title" required="required" />
    <br />
    <label asp-for="Content"></label><br />
    <textarea asp-for="Content"></textarea>
    <br />
    <button type="submit">Speichern</button>
    <a asp-route="list" role="button">Abbrechen</a>

</form>